<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Command Pad</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            width: 100%;
            height: 100%;
        }
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4CAF50;
            color: white;
            font-size: 2em;
            border: none;
            cursor: pointer;
        }
        .button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="container">
        <button class="button" onclick="callTextCommandRestAPI('360')">Room 360</button>
        <button class="button" onclick="callMoveRestAPI('forward',1.0)">Forward</button>
        <button class="button" onclick="callTextCommandRestAPI('photo')">Photo door</button>
        <button class="button" onclick="callMoveRestAPI('turn_left',0.15)">Left</button>
        <button class="button" onclick="callMoveRestAPI('stop',0.5)">Stop</button>
        <button class="button" onclick="callMoveRestAPI('turn_right',0.15)">Right</button>
        <div>
            <select id="combo_room">
                <option value="">Select Room</option>
            </select>
        </div>
        <button class="button" onclick="callMoveRestAPI('backward',1.0)">Backward</button>
        <div>
            <select id="combo_door">
                <option value="">Select Door</option>
            </select>
        </div>
    </div>

    <script>
        const base_url = 'http://192.168.0.19:8088';

        function callMoveRestAPI(button,secs) {
            fetch(`${base_url}/move_a_bit/${button}/${secs}`, {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                console.log(`Response from ${button}:`, data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function callSimplePostRestAPI(command,dto) {

            fetch(`${base_url}/${command}`, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(dto)
            })
            .then(response => response.json())
            .then(data => {
                console.log(`Response from ${command}:`, data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function callRoomRestAPI(selected_room_id,selected_room_name) {

            const data = {
              selected_room_id: selected_room_id,
              selected_room_name: selected_room_name
            };
            callSimplePostRestAPI('room',data)
        }

        function callDoorRestAPI(selected_door_id,selected_door_name) {

            const data = {
              selected_door_id: selected_door_id,
              selected_door_name: selected_door_name
            };
            callSimplePostRestAPI('door',data)
        }

        function callTextCommandRestAPI(command) {
            callSimplePostRestAPI('text_command',command)
        }

        function fillComboboxRoom() {
            const combobox = document.getElementById('combo_room');

            fetch('/room_list')
                .then(response => response.json())
                .then(data => {
                    const list_rooms = data;
                    list_rooms.forEach(room => {
                        const opt = document.createElement('option');
                        opt.value = room;
                        opt.textContent = room;
                        combobox.appendChild(opt);
                    });
                })
                .catch(error => {
                    console.error('Error retrieving the room options:', error);
                });

            combobox.addEventListener('change', function() {
                const selected_room_id = combobox.selectedIndex
                const selected_room_name = combobox.value;
                if (selected_room_name) {
                    callRoomRestAPI(selected_room_id,selected_room_name)
                }
            });
        }

        function fillComboboxDoor() {
            const combobox = document.getElementById('combo_door');

            fetch('/door_list')
                .then(response => response.json())
                .then(data => {
                    const list_doors = data;
                    list_doors.forEach(door => {
                        const opt = document.createElement('option');
                        opt.value = door;
                        opt.textContent = door;
                        combobox.appendChild(opt);
                    });
                })
                .catch(error => {
                    console.error('Error retrieving the door options:', error);
                });

            combobox.addEventListener('change', function() {
                const selected_door_id = combobox.selectedIndex
                const selected_door_name = combobox.value;
                if (selected_door_name) {
                    callDoorRestAPI(selected_door_id,selected_door_name)
                }
            });
        }

        document.addEventListener('DOMContentLoaded', function() {
            fillComboboxRoom();
            fillComboboxDoor();
        });


    </script>
</body>
</html>

